<!DOCTYPE html>
<html>
<head>
	<title>Counter</title>
	<style>
		#container{
			width:700px;
			margin:0px auto;
			text-align: center;
			background-color:#94efa5;
		}
		h1{
			color: red;
		}
		button{
			color:white;
			background-color: black;
			margin-bottom:10px;
		}
	</style>
</head>
<body>
	<div id="container">
	<h1>Counter</h1>
	<p>you have visited this page {{session["current_count"]}} times</p>
	<form action = "/inc" method="post">
		<button>Increment by two</button>
	</form>
	<form action="/reset" method="post">
		<button>Reset counter</button>
	</form>
	</div>
</body>
</html>