<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oregon Science Course Equilvalancy Registration</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" media="screen">


</head>
<body>
<h1>THANK YOU FOR REGISTERING. CONTINUE TO THE WALL TO LEAVE A MESSAGE FOR A FELLOW USER</h1>
    <h3><a href="\wall">GO TO THE WALL</a></h3>
</body>
</html>