<!DOCTYPE html>
<html>
<head>
	<title>Email Validation with DB</title>
</head>
<style type="text/css">
	input{
		width: 400px;
		height: 30px;
		display: inline-block;
	}
	li{
		color: red;
	}

</style>
<body>
	<h2>Check Your Email</h2>
	{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
	<form action='/valid' method='post'>
        <label for="email">Email Address:</label>
        <input type="text" id="email" name="email">
        <button type='submit' class='btn'>Submit</button>
	</form>
</body>
</html>