<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	div{
		background-color: lightgreen;
		width: 350px;
	}
	h3{
		text-decoration: underline;
	}
	button{
		
		display: block;
	}

</style>
<body>
	<div>
		The email address you entered {{ emadd }} is a VALID email address! Thank You for signing up!
	</div>

	<h3>Email addresses entered:</h3>
	{% for i in emails %}
    <p>{{ i['email'] }}     {{ i['created_at'] }}</p>
    {% endfor %}
    <button type="button" onclick="goto()">Go Back</button>
</body>
<script>
    function goto(){
        window.history.back();
    }
    </script>
</html>