<!DOCTYPE html>
<html>
<head>
	<title>CheckerBoard</title>
	<style>
		*{
			font-size: 0px
		}
		#checkerBoard{
			width:480px;
			height:480px;
			border:solid 1px black;
			padding:0px;
		}
		.redSquare{
			width:60px;
			height:60px;
			background-color:red;
			margin:0px;
			display:inline-block;
		}
		.blackSquare{
			width:60px;
			height:60px;
			background-color:black;
			margin:0px;

			display:inline-block;
		}
	</style>
</head>
<body>
	<div id="checkerBoard">
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>

		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>	
		<div class="redSquare"></div>

		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>

		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>	
		<div class="redSquare"></div>

		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>

		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>	
		<div class="redSquare"></div>

		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>

		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>
		<div class="redSquare"></div>
		<div class="blackSquare"></div>	
		<div class="redSquare"></div>


	</div>
</body>
</html>